@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-surface: #f7f9fc;
    --text-primary: #0f131e;
    --text-muted: #64748b;
    --color-brand: #6716e9;
    --color-stroke: rgba(15, 19, 30, 0.1);
    /* 10% Black */
  }

  .dark {
    --bg-surface: #050505;
    --text-primary: #e2e8f0;
    --text-muted: #94a3b8;
    --color-brand: #7c3aed;
    --color-stroke: #27272a;
    /* Zinc 800 - Solid Grey for Dark Mode */
  }

  html,
  body {
    @apply overflow-x-hidden m-0 p-0 transition-colors duration-300;
  }
}

@layer base {
  * {
    font-family: 'JetBrains Mono', monospace;
  }

  body {
    @apply bg-surface text-text-primary antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: uppercase;
    letter-spacing: -0.02em;
    font-weight: 700;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  @apply bg-surface;
}

::-webkit-scrollbar-thumb {
  @apply bg-brand-600;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-brand-700;
}

/* Focus states */
:focus-visible {
  @apply outline-none ring-2 ring-brand-600 ring-offset-2 ring-offset-surface;
}